a {
  text-decoration: none;
  color: #000;
}

#hd .gnb:hover .gnb_li {
  padding: 0 40px !important;
  left: 35px;
}
#hd .gnb:hover .gnb_li:hover .gnb_a {
  color: red;
}
#hd .gnb:hover .gnb_li .gnb_ul {
  height: 180px;
}
#hd .gnb .gnb_li {
  padding: 0 40px !important;
  left: 35px;
}
#hd .gnb .gnb_li .gnb_a {
  font-size: 1.2rem;
}
#hd .gnb .gnb_li .gnb_ul {
  min-width: 10rem;
  height: 0;
  overflow: hidden;
  transition: 0.5s;
}
#hd .gnb .gnb_li .gnb_ul:after, #hd .gnb .gnb_li .gnb_ul:before {
  content: "";
  display: block;
  height: 1rem;
}